@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 Georgia, serif;
  margin: 0;
  background-color: #adadad;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

header {
  color: #fff;
  font-family: "League Script", cursive;
  margin: 0;
  background-color: #363032;
}

.center-header {
  display: block;
  max-width: 10em;
  margin: 0 auto;
  margin-top: -2rem;
  margin-bottom: -2rem;
}

.left-header {
  display: none;
}

.right-header {
  display: none;
}

header h1 {
  color: #fff;
  font-size: 2rem;
  margin: 0;
  background-color: #363032;
  padding-bottom: .8rem;
  padding-top: 1.4rem;
  text-shadow: 1px 1px 4px #fff;
}

nav a {
  font-family: "Julius Sans One", sans-serif;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  border: .05rem solid #fff;
  border-radius: 8px;
  font-size: .9em;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 1rem;
  font-size: 1.125rem;
  margin-bottom: 0;
}

ul {
  margin: 0;
}

.image-cardimgflex {
  display: block;
  width: 100%;
}

.image-card {
  overflow: hidden;
  border: 2px;
}

.image-cardbody {
  padding: .2rem 1rem;
}

.image-cardtitle {
  padding: .3rem 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.25rem;
  color: #fff;
  text-shadow: 1px 1px 4px #fff;
  text-align: center;
  background: #ba1415;

}

.image-cardlable {
  padding: .3rem 1rem .3rem calc(1rem - 4px);
  border-left: 10px solid #ba1414;
  background-color: white;
  position: absolute;
  color: black;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  top: .5rem;
}

.image-cardhead {
  position: relative;
}

.banner {
  display: none;
}

.history {
  display: inline-block;
  text-align: center;
  margin: 0;
  vertical-align: middle;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  font-family: "League Script", cursive;
  margin: 0;
  text-shadow: 1px 1px 4px #fff;
  color: #fff;
  width: 100%;
}

div h2 {
  padding: .3rem 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-shadow: 1px 1px 4px #fff;
  top: 51rem;
}

.history h2 {
  padding-right: 1.5rem;
}

.center-history {
  position: absolute;
  max-width: 8rem;
  opacity: .8;
  left: 5.5rem;
  top: 50.5rem;
}

.history-imageflex {
  display: inline-block;
  text-align: center;
  position: relative;
}

.history-content {
  display: inline-block;
  margin-top: -1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: -1em;
  text-align: center;
  background-color: #1e120f;
  padding-bottom: 2rem;

}

img {
  display: inline-block;
  width: 100%;
}

div p {
  line-height: 1.5;
  padding: 1.2rem;
  background-color: rgba(47, 34, 34, .4314);
  margin: .8rem;
  margin-top: .5rem;
  border-radius: 8px;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: .8rem;
  text-align: center;
}

.history-content p {
  background-color: #5f4f4f;
}

div a {
  font-family: "Julius Sans One", sans-serif;
  color: #fff;
  background-color: #767171;
  text-decoration: none;
  white-space: nowrap;
  border: .05rem solid #fff;
  border-radius: 8px;
  font-size: .8em;
}

.products {
  text-shadow: 1px 1px 4px #fff;
  padding: 1rem 5rem 3rem;
  background-color: #363032;
  margin-top: 2.5rem;
  position: relative;
}

.center-products {
  max-width: 8rem;
  position: absolute;
  left: 6.3rem;
  top: 86rem;
}

.card ul {
  list-style-type: none;
  max-width: 20em;
  padding: 0;
}

.card {
  background-color: #6ba8ab;
  margin: 1rem;
  border-radius: 1rem;
  padding-bottom: .2rem;
}

.card p {
  background-color: #363032;
}

.card-img {
  margin-left: 1.4rem;
  margin-right: 2rem;
  margin-top: 1rem;
  padding: 0;
  border: .3rem dotted white;
  max-width: 15rem;
}

h3 {
  margin-top: .5rem;
  margin-bottom: .6rem;
  font-family: "Princess Sofia", cursive;
  color: white;
  font-size: 1.4rem;
}

.small {
  display: none;
}

.hoursofop {
  background-color: rgba(255, 255, 255, .73);
  margin: 1rem;
  border-radius: 1rem;
  padding-bottom: .2rem;
}

.hoursofop li {
  list-style-type: none;
  font-family: Montserrat, sans-serif;
  font-size: .9rem;
  text-align: center;
}

.hoursofop ol {
  padding: 0;
}

.hoursofop h2 {
  background-color: #188288;
  padding: .8rem;
  border-radius: 1rem 1rem 0 0;
}

.location {
  background-color: rgba(255, 255, 255, .73);
  margin: 1rem;
  border-radius: 1rem;
  padding-bottom: .75rem;
}

.location h2 {
  background-color: #188288;
  padding: .8rem;
  border-radius: 1rem 1rem 0 0;
}

.map-img {
  padding: 0;
}

.location p {
  list-style-type: none;
  font-family: Montserrat, sans-serif;
  font-size: .88rem;
  text-align: center;
  font-weight: bold;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0;
  color: #363032;
}

span {
  display: block;
}

.location strong {
  color: #188288;
}

form {
  font-family: Montserrat, sans-serif;
  font-size: .8rem;
  text-align: center;
}

.postal {
  margin-top: .8rem;
}

.find {
  margin-top: .5rem;
}

.box {
  font-family: "Julius Sans One", sans-serif;
  color: #fff;
  background-color: #767171;
  text-decoration: none;
  border: .05rem solid #fff;
  border-radius: 8px;
  font-size: .8em;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-top: .5rem;
}

.contact {
  background-color: rgba(255, 255, 255, .73);
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding-bottom: .75rem;
}

.contact h2 {
  background-color: #188288;
  padding: .8rem;
  border-radius: 1rem 1rem 0 0;
}

.contact img {
  max-width: 3.5em;
}

.nav-images li {
  display: inline-block;
  max-width: 5em;
}

.contact ol {
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}

.contact strong {
  color: #363032;
}

.nav-links li {
  display: block;
  margin: 0;
  list-style-type: none;
}

.nav-links ol {
  margin: 0;
}

.ribbon {
  max-width: 7rem;
}

footer {
  background-color: #363032;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: .75em;
  padding: 1.5em;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}

.contact a {
  font-family: Montserrat, sans-serif;
  font-size: .8rem;
  border: none;
  padding: 0;
  background-color: inherit;
  color: #767171;
}

nav a:hover {
  background-color: white;
  color: black;
}

div a:hover {
  background-color: white;
  color: black;
}

.truffle {
  display: none;
}

@media only screen and (min-width: 20em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  h1 {
    padding: .5em;
    text-align: center;
  }

  a {
    padding: 5px;
    margin-bottom: .9rem;
  }

  ul {
    text-align: center;
  }

  li {
    padding-left: .3em;
    margin-bottom: .9rem;
  }

  .image-cardbody {
    display: none;
  }
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  li {
    display: inline-block;
    width: 49%;
    padding: 0;
    text-align: center;
  }

  a {
    padding: 0;
  }

  .center-header {
    left: 7.4rem;
  }

  nav a {
    text-align: center;
    padding: .6rem;
  }

  header nav li {
    margin-bottom: 0;
  }

  .btn-holiday {
    display: inline-block;
    width: 10em;
  }

  .btn-stores {
    display: inline-block;
    width: 10em;
  }

  .btn-con {
    display: inline-block;
    width: 10em;
  }

  .compmission h2 {
    font-size: 2rem;
    top: 55rem;
  }

  .center-history {
    left: 8rem;
    top: 54.5rem;
  }

  .compmission a {
    padding: .5rem;
  }

  .center-products {
    left: 9rem;
    top: 88rem;
  }

  .card ul {
    max-width: none;
  }

  .card li {
    width: 100%;
  }

  .card-img {
    max-width: 20rem;
  }

  .card a {
    padding: .5rem;
  }

  .hoursofop li {
    width: 100%;
  }

  .contact li {
    width: 100%;
  }
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  body {
    margin: 0;
  }

  h1 {
    padding-bottom: .6rem;
    display: block;
  }

  header {
    position: relative;
  }

  .left-header {
    display: inline-block;
    max-width: 3em;
    position: absolute;
    left: 3.9rem;
    top: -.5rem;
  }

  .right-header {
    display: inline-block;
    max-width: 3em;
    position: absolute;
    top: .5rem;
  }

  .center-header {
    display: none;
  }

  nav ul {
    background-color: #363032;
    text-align: center;
    margin-left: -1.4rem;
    margin-top: 0;
  }

  li {
    display: inline-block;
    max-width: 8rem;
    padding: 0;
  }

  nav a {
    text-align: center;
    padding: .2rem;
  }

  .btn-stores {
    margin-left: 2em;
    width: auto;
  }

  .btn-chocolates {
    padding: .34rem;
  }

  .btn-holiday {
    display: inline-block;
    width: auto;
  }

  .btn-con {
    display: inline-block;
    width: auto;
  }

  .image-cardimgflex {
    margin: 0;
    max-width: none;
  }

  .image-card {
    max-height: 42rem;
  }

  .image-cardlable {
    top: 3rem;
  }

  .image-cardtitle {
    max-width: 10.3rem;
    padding: 1.75rem;
    border-radius: 50%;
    right: .5rem;
    bottom: 20rem;
    background-color: rgba(164, 22, 26, .91);
    border: .3rem dotted white;
    font-size: 1.4rem;
  }

  .image-cardbody {
    display: inline-block;
    width: 100%;
    max-width: 20rem;
    padding: 0;
    border-radius: 50%;
    bottom: 13rem;
    left: 13rem;
    background-color: rgba(118, 113, 113, .9);
    border: .3rem dotted white;
    font-size: 1.4rem;
    position: relative;
  }

  .image-cardbody p {
    background: none;
    font-family: Montserrat, sans-serif;
  }

  .image-cardbody strong {
    font-family: "League Script", cursive;
    font-size: 2rem;
    display: block;
  }

  .history h2 {
    top: 60rem;
    font-size: 2rem;
  }

  .center-history {
    max-width: 9rem;
    opacity: .8;
    left: 12.5rem;
    top: 59.2rem;
  }

  .history-content {
    background-color: #1e120f;
    margin-top: -1rem;
    padding-bottom: 2rem;
  }

  .history-content p {
    background-color: #5f4f4f;
    margin: 2rem;
  }

  .history-content a {
    padding: .3rem;
  }

  .products {
    position: relative;
    font-size: 2rem;
  }

  .products h2 {
    margin-top: 1.75rem;
  }

  .center-products {
    max-width: 8rem;
    position: absolute;
    left: 13.5rem;
    top: 96rem;
  }

  .card {
    position: relative;
    margin-bottom: 0;
  }

  .card-img {
    padding: 0;
    display: inline-block;
    width: 50%;
    position: absolute;
    top: 3rem;
    left: -.6rem;
  }

  .card li {
    width: 100%;
    max-width: none;
  }

  .card ul {
    margin: 0;
    max-width: none;
  }

  .card p {
    max-width: none;
    font-size: .7rem;
    padding: .5rem;
    padding-bottom: 0;
    background-color: #363032;
    margin: 0;
    margin-bottom: .75rem;
  }

  .card-body {
    width: 43%;
    float: right;
    margin-top: .8rem;
    margin-right: .7rem;
    background-color: #363032;
    padding-bottom: 1rem;
    border-radius: 1rem;
  }

  .card h3 {
    margin-top: .75rem;
    margin-bottom: 0;
    position: absolute;
    top: .5rem;
    left: .64rem;
  }

  .card a {
    padding: .3rem;
  }

  .hoursofop {
    display: inline-block;
    max-width: 20rem;
    float: left;
    margin-bottom: 0;
    margin-top: 2rem;
    margin-left: 1.5rem;
  }

  .hoursofop li {
    display: block;
    margin-bottom: 0;
    margin-left: 2.5rem;
    font-size: .8rem;
  }

  .location {
    display: inline-block;
    margin-right: 1.8rem;
    margin-top: 2rem;
    margin-left: 0;
    max-width: 16rem;
    float: right;
  }

  .location p {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .card div p {
    background-color: #363032;
  }

  .contact {
    max-width: 20rem;
    float: left;
    margin-bottom: 0;
    margin-left: 1.5rem;
  }

  .contact h2 {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }

  .contact li {
    max-width: 3rem;
  }

  .contact ol {
    padding: 0 2rem;
    max-height: 3.2rem;
    line-height: 1rem;
    margin-top: .4rem;
  }

  .contact a {
    font-size: .7rem;
  }

  footer {
    display: block;
    margin-top: 31rem;
    max-height: 3rem;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header {
    display: block;
    padding-bottom: 3rem;
  }

  header h1 {
    width: 40%;
    display: inline-block;
    margin-top: 1.4rem;
    margin-bottom: 0;
    margin-left: 1.5rem;
    padding: 0;
    float: left;
  }

  .left-header {
    left: -.3rem;
    top: .3rem;
    max-width: 4.5rem;
  }

  .right-header {
    left: 14rem;
    top: .4rem;
    opacity: .5;
    z-index: 1001;
    max-width: 10rem;
  }

  nav {
    display: inline-block;
    width: 100%;
    max-width: 28rem;
  }

  nav ul {
    margin-right: 0;
    padding-bottom: 0;
    margin: 0;
  }

  nav li {
    padding-top: 2rem;
    margin-left: .1rem;
    margin-bottom: 0;
    text-align: left;
  }

  .contact li {
    max-width: 3rem;
  }

  .nav-links li {
    margin: 0;
    padding-left: 3rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  nav li:first-child {
    max-width: 5rem;
    margin-left: -5rem;
    margin-right: -.2rem;
  }

  nav li:nth-child(2) {
    margin-left: 0;
  }

  nav li:nth-child(3) {
    padding: 0;
    max-width: 2rem;
    text-align: center;
    margin-left: 1.5rem;
  }

  nav li:nth-child(4) {
    padding: 0;
    max-width: 2rem;
    margin-left: 1.9rem;
  }

  nav a {
    font-size: 1rem;

  }

  .btn-stores {
    margin-left: 0;
  }

  .image-card {
    display: inline-block;
    width: 50%;
    float: left;
    max-height: 32rem;
  }

  .image-cardhead {
    padding-bottom: 0;
  }

  .image-cardtitle {
    transform: scale(.9);
    bottom: 15rem;
  }

  .image-cardbody {
    transform: scale(.9);
    left: 5.5rem;
  }

  .compmission {
    display: inline-block;
    width: 50%;
    float: right;
  }

  .history-imgflex img {
    max-height: 15rem;
  }

  .history-content {
    position: relative;
    width: 100%;
    height: 15.3rem;
  }

  .history-content h2 {
    z-index: 1000;
    top: -10.5rem;
    right: 0;
    font-size: 1.8rem;
    padding: 0;
  }

  .center-history {
    z-index: 2000;
    left: 8rem;
    top: -11.4rem;
  }

  .history-content p {
    margin-left: 1.6rem;
    margin-right: 2.6rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: .78rem;
    padding: .5rem;
    position: absolute;
    left: 0;
    top: -3rem;
  }

  .history-content .btn {
    position: absolute;
    top: 11.75rem;
    left: 9rem;
  }

  .products {
    display: inline-block;
    max-height: 6rem;
    margin-top: -1.3rem;
  }

  .center-products {
    left: 21.5rem;
    top: 38.2rem;
  }

  .card ul {
    padding: 0;
  }

  .all-cards {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }

  .card {
    display: inline-block;
    width: 31%;
    margin: 0;
    padding: 0;
  }

  .one {
    float: left;
    margin-left: .7rem;
  }

  .one p {
    margin-bottom: 1.8rem;
  }

  .two p {
    margin-bottom: 1.8rem;
  }

  .three {
    float: right;
    margin-right: 1.7rem;
  }

  .card-body {
    width: 85%;
    display: block;
    margin-top: 18.7rem;
    margin-right: 1.2rem;
  }

  .card-img {
    width: 100%;
    max-width: 14rem;
    margin-left: .3rem;
    margin-top: 4.5rem;
    left: .5rem;
  }

  h3 {
    font-size: 1.9rem;
  }

  .hoursofop {
    width: 100%;
    max-width: 25rem;
    max-height: 15rem;
    margin-left: 1rem;
  }

  .hoursofop nav li {
    padding: 0;
    margin: 0;
  }

  .hoursofop ol {
    padding-left: 12rem;
  }

  .small {
    position: absolute;
    display: inline-block;
    width: 50%;
    max-width: 10rem;
    border-radius: 50%;
    margin-left: .5rem;
    margin-top: .3rem;
    border: .4rem dotted #6ba8ab;
  }

  .location {
    max-width: 21rem;
    margin-right: 2rem;
  }

  .location img {
    max-width: 14rem;
    margin-left: 1.6rem;
  }

  .find {
    margin: 0;
  }

  .postal {
    margin: 0;
  }

  .contact {
    width: 100%;
    max-width: 25rem;
    max-height: 15.8rem;
    margin-left: 1rem;
  }

  .nav-images {
    display: inline-block;
    width: 100%;
    max-width: 10rem;
    max-width: none;
    padding-left: 4.8rem;
  }

  .contact img {
    max-width: 3rem;
  }

  .contact nav li {
    padding-top: 0;
  }

  .contact nav li:nth-child(2) {
    max-width: 3rem;
    margin-left: .3rem;
  }

  .contact nav li:nth-child(3) {
    max-width: 5rem;
    margin-left: .9rem;
  }

  .nav-links ol {
    padding-left: 5rem;
  }

  .nav-links nav li:first-child {
    max-width: 3rem;
    padding: 0;
    margin-right: 20rem;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  .nav-links nav li:nth-child(2) {
    max-width: 3rem;
    padding: 0;
    margin: 0;
  }

  .nav-links nav li:nth-child(3) {
    max-width: 3rem;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  header h1 {
    font-size: 3rem;
    margin-left: 2rem;
  }

  .right-header {
    left: 22rem;
    top: 1.8rem;
  }

  .left-header {
    left: -1.1rem;
    top: .2rem;
    max-width: 6rem;
  }

  nav {
    max-width: 35rem;
  }

  nav ul {
    text-align: left;
    margin-left: 5rem;
    margin-top: .5rem;
  }

  nav a {
    font-size: 1.3rem;
    padding: .5rem;
  }

  nav li:nth-child(2) {
    margin-left: 1.7rem;
  }

  .btn-stores {
    margin-left: 3.2rem;
  }

  .btn-con {
    margin-left: 4.87rem;
  }

  span.image-cardlable {
    font-size: 1.5rem;
  }

  .image-cardtitle {
    transform: scale(1.1);
    bottom: 23rem;
  }

  .image-cardbody {
    transform: scale(1.1);
    bottom: 14rem;
    left: 13rem;
  }

  .image-card {
    max-height: 45rem;
  }

  .history-content {
    height: 20.7rem;
  }

  .center-history h2 {
    font-size: 2.5rem;
  }

  .center-history {
    max-width: 12rem;
    left: 11rem;
  }

  .history-content p {
    font-size: .85rem;
    margin-top: 6rem;
    margin-left: 3.5rem;
  }

  .history-content .btn {
    padding: .8rem;
    top: 16.5rem;
    left: 14rem;
  }

  .products h2 {
    margin-top: 0;
  }

  img.card-img {
    max-width: 18rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
  }

  .truffle {
    display: inline-block;
    max-width: 18rem;
    margin-top: 3rem;
  }

  img.truffle-image {
    border-radius: 4rem;
  }

  footer {
    margin-top: 3rem;
  }
}
